# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Training artifacts
mlruns/
mlflow.db

# Dataset (not needed in production)
data/
bert_results/

# OS / secrets
.env
.DS_Store
Thumbs.db
