# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Training artifacts
mlruns/
mlflow.db

# Dataset
data/
bert_results/

# OS / secrets
.env
.DS_Store
Thumbs.db

# =========================
# Ignore ONLY LARGE MODELS
# =========================
models/distilbert_text_classifier/
*.safetensors
